<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Mars Scraper</title>
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
    </head>

    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>
                    <a href="/scrape">Mars Scraper</a>
                </h1>
                <p></p>
            </div>
            
            <div>
                <h1>Head Line</h1>
                <br/>
                <h1>{{ attribute.news_title }}</h1>
                <br/>
                <h1>Overview</h1>
                <h1>{{ attribute.news_paragraph }}</h1>
                <br/>
                <img src="{{ attribute.feature_image }}" style="width:65%" />
            </div>
           
            <h1>Mars Data</h1>
            <br/>
            <table class="thead-light">
                <thead class="thead-light">
                    {{ attribute.facts | safe}}
                </thead>
            </table>


            <div class="container">
                <h2 align="center" style="color:magenta; font-size: 45px;">Mars Hemispheres</h2>
                <hr>
                    <div class="card">
                        {% for hem in attribute.hemispheres %}
                        <div class="col-md-6">
                            <img class="thumbnail" src="{{hem.img_url}}" width="100%" alt="{{hem.title}}"> 
                            <div class="card-body">
                                <h4 align="center" class="card-title">{{hem.title}}</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>   
            </div>            


        </div>

        
    </body>



</html>