<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Mars Scraper</title>
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
    </head>

    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Mars Scraper</h1>
                <p></p>
            </div>
            
            <div>
                <h1>{{ attribute.Title }}</h1>
                <h1>{{ attribute.Paragraph }}</h1>
                <img src="{{ attribute.Image }}" style="width:25%" />
            </div>
           
            <h1>Mars Data</h1>
            <ul>
                <!-- {% for staff in instructional_staff %} -->
                <!-- <li>{{ staff }}</li> -->
                <!-- {% endfor %} -->
            </ul>

            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                </thead>

                <tbody>
                    <!-- {% for user in users %} -->
                    <tr>
                        <!-- <td>{{ user.name }}</td> -->
                        <!-- <td>{{ user.role }}</td> -->
                        <!-- <td>{{ user.email }}</td> -->
                    </tr>
                    <!-- {% endfor %} -->
                </tbody>
            </table>

            <a href="/table">Go to the Mars Table</a>
        </div>

        
    </body>



</html>